@using TodoList.Domain.Enum
@model IEnumerable<TodoList.Application.DTOs.ToDoListDTO>
<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />

@{
	ViewBag.Title = "Dashboard";
}

<div class="container-task">
	<div class="box-apresentation-task">
		<h3>Todas as Tasks</h3>
		@if (Model.Any())
		{
			<a class="nav-link text-dark btn btn-delete-all" asp-controller="Dashboard" asp-action="DeleteAllTask">Apagar Todas</a>
		}
	</div>
	@if (Model.Any())
	{
		<div class="wrap-task">
			@foreach (var item in Model)
			{
				<div class="task">
					<div class="top-itens">
						<h3>@item.Title</h3>
						<a class="nav-link text-dark" asp-controller="Dashboard" asp-action="UpdateTask" asp-route-id="@item.Id">
							<span class="material-symbols-rounded">
								edit
							</span>
						</a>
					</div>

					<div class="status-task d-flex">
						@if (item.Status == StatusEnum.Concluido)
						{
							<span class="material-symbols-rounded">
								check_circle
							</span>
						}
						@if (item.Status == StatusEnum.Pendente)
						{
							<span class="material-symbols-rounded">
								pending
							</span>
						}
						@if (item.Status == StatusEnum.Andamento)
						{
							<span class="material-symbols-rounded">
								clock_loader_40
							</span>

						}
						<h4>@item.Status.ToString()</h4>
					</div>

					<h6> - @item.Description</h6>
					<p>
						<span>Início:</span> @item.StartDate.ToString("ddd, dd/MM/yyyy")

						@if (item.EndDate != new DateTime())
						{
							<span>Fim:</span> @item.EndDate.ToString("ddd, dd/MM/yyyy")
						}
					</p>
				</div>
			}
		</div>
	}
	else
	{
		<div class="box-sem-dados">
			<h3>Oops... Você não tem tarefas cadastrada.</h3>
			<h6>Realize o cadastro de novas atividades.</h6>
		</div>
	}
</div>
